
* {
    font-family:    "Open Sans", "Segoe UI", sans-serif;
    font-size:      12px;
}
:root {
    --lightcolor: #F7C089;
    --errcolor:   #88B0DB;
}

.model {
    display: grid;
    grid-template-areas:
        "connection     connection"
        "panelButtons   track"
        "frontButtons   frontButtons";
    border:         1px solid #ddd;
    border-radius:  5px;
    padding:        5px;
    gap:            8px;
    width:          min-content;
}
.panel {
    grid-area:      panelButtons;
    display:        grid;
    grid-template-columns: 40px repeat(3, 50px);
    grid-auto-rows: 50px;
    gap:            2px;
}
.panel-button {
    border:         1px solid #aaa;
    border-radius:  3px;
}
.panel-floornumber {
    width:          calc(100% - 12px);
    color:          #333;
    aspect-ratio:   1/1;

    box-shadow:     0px 4px 6px #f0f0f0;
}
.frontButtons {
    grid-area:      frontButtons;
    display:        flex;
    flex-flow:      row nowrap;
    justify-content:space-between;
    gap:            5px;
    margin:         0px 5px;
    height:         20px;
}
.track {
    grid-area:      track;
    width:          25px;
    position:       relative;
}
.car {
    position:       absolute;
    height:         14px;
    width:          20px;
    border:         1px solid #aaa;
    border-radius:  3px;
    cursor:         pointer;
}
.car-oob {
    background:     var(--errcolor);
}

.door {
    flex:           1 1 auto;
    height:         100%;
}
.stop {
    flex:           1 1 auto;
    height:         100%;
}
.obstruction {
    position:       relative;
    flex:           0 0 auto;
    width:          40px;
    height:         100%;
    background:     #f0f0f0;
    cursor:         pointer;
}
.toggle {
    position:       absolute;
    height:         80%;
    aspect-ratio:   1;
    background:     #fff;
    border:         1px solid #aaa;
}
.obstruction.on {
    background:     var(--lightcolor) !important;
    
}
.obstruction:not(.on) .toggle {
    left:           1px;
}
.obstruction.on .toggle  {
    right:          1px;
}

.lit {
    background:     var(--lightcolor) !important;
    box-shadow:     0px 0px 6px var(--lightcolor) !important;
}

.centered {
    display:        grid;
    text-align:     center;
    align-self:     center;
    align-items:    center;
    justify-self:   center;
}
.rounded {
    border-radius:  1000px;
    border:         1px solid #ccc;
}
.button {
    background:     #fafafa;
    box-shadow:     inset 0px -1px 10px #ccc;
    cursor:         pointer;
}
.button:active {
    border:         1px solid #bbb;
    box-shadow:     inset 0px -1px 8px #fff;
}